
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Db</title>
</head>
<body>
    <div> 
		The value is @ViewBag.Text
    </div>
</body>
</html>
