
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Effective</title>
</head>
<body>
    <div> 
		<h3>Общая эффективность кандидата: 73%</h3>
		<h3>Лояльность организации: 69%</h3>
		<h3>Соответствие занимаемой должности: 80%</h3>
		<h4>Рекомендации:</h4>
		<p>
			Делать разминку;
			Побольше концентрации внимания
		</p>
    </div>
</body>
</html>
