@model AspNetApp.Models.Infra.User

@{
	Layout = "~/Views/Shared/_Login.cshtml";
}

@using (Html.BeginForm())
{
	<div class="text-center">
		<h2 class="my-4">Авторизация</h2>
		<div class="container">
			@Html.HiddenFor(x => x.Role, "Admin")
			<div class="row">
				<div class="col-4 offset-4 mb-1">
					<label>Логин</label>
					@Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
				</div>
			</div>
			<div class="row">
				<div class="col-4 offset-4 mb-1">
					<label>Пароль</label>
					@Html.PasswordFor(x => x.Password, new { @class = "form-control" })
				</div>
			</div>
			<div class="row">
				<div class="col-4 offset-4 my-3">
					<input type="submit" id="loginButton" class="bg-success text-white form-control" value="Войти" />
				</div>
			</div>
		</div>
	</div>
}