@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row text-center my-lg-5">
		<div class="col-lg-12">
			<h2>Тесты</h2>
		</div>
	</div>
	<div class="row my-lg-5">
		<div class="col-lg-2 offset-1">
			<a href="@Url.Action("TestEditor", "Test")">
				<img src="~/Content/img/test-constructor.png" />
			</a>
		</div>
		<div class="col-lg-2 offset-4">
			<a href="@Url.Action("TestSelector", "Test")">
				<img src="~/Content/img/upload-test.png" />
			</a>
		</div>
	</div>
</div>
